.events__list {
	border: 1px solid rgb(var(--accent-color) / 0.1);
	border-radius: 12px;
}

.events__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 8px 8px 20px;

	&:nth-child(even) {
		background-color: rgba(249,252,253,1);
	}
}

.events__button {
	justify-content: center;
	gap: 2px;

	& span {
		width: 3px;
		height: 3px;
		border-radius: 50px;
		background-color: rgb(var(--accent-color));
	}
}

.events__functions {
	position: relative;
}

.events__empty {
	display: flex;
	flex-direction: column;
	align-items: center;

	& img {
		width: 100px;
		height: auto;
		margin-bottom: 12px;
	}
}

.reschedule-form {
	margin-block: 12px;
}

.modal__footer .group {
	justify-content: space-between;
}

.read-event__table-parent {
	overflow: hidden;
	border-radius: 9px;
	border: 1px solid rgb(var(--accent-color) / 0.1);
	margin-bottom: 12px;
}

.read-event__table {
	text-align: center;
	width: 100%;
	border-collapse: collapse;
	color: rgb(var(--text-color));

	& thead {
		background-color: rgba(244,247,248,1);
		font-size: 12px;
	}

	& td {
		padding: 4px 0;
		font-size: 13px;
		position: relative;
	}

	& tr:nth-child(even) {
		background-color: rgba(249,252,253,1);
	}
}

.exercise__title {
	font-weight: 500;
	font-size: 12px;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
	gap: 8px;

	& svg {
		margin-bottom: 3px;
	}
}

.read-event__header {
	display: flex;
	margin-bottom: 4px;
	align-items: baseline;
}

.read-event__header-title {
	max-width: 100%;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.read-event__header-date {
	margin-left: 4px;
	font-size: 12px;
}

.read-event__edit {
	border: 0;
	color: rgb(var(--accent-color));
	font-size: 12px;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 4px;
	margin-left: 8px;

	&:hover {
		text-decoration: underline;
	}

	& svg {
		margin-top: -2px;
	}
}

.read-event__effort {
	width: 60%;
	font-size: 11px;
	margin-inline: auto;
	border-radius: 6px;
}

.read-event__total {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px 8px;
	background-color: var(--block-bg);
	border-radius: 9px;
	margin-bottom: 8px;

	& span {
		font-size: 12px;
		font-weight: 500;
	}

	& svg {
		margin-bottom: 2px;
	}
}

.read-event__rm {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	
	& svg {
		cursor: pointer;
		color: var(--accent-color);
	}
}