.button-group {
  display: flex;
  border: 1px solid rgb(var(--border-color));
  border-radius: 4px;
  overflow: hidden;
  height: 32px;
  position: relative;
  width: 100%;
  isolation: isolate;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.button-group--flexible .button-group__item {
  @media (min-width: 768px) {
    width: fit-content;
  }
}

.button-group__item {
  background-color: transparent;
  color: rgb(var(--text-color));
  border: 0;
  position: relative;
  width: auto;
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
  will-change: color;
  height: 32px;

  &:not(:last-of-type)::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    width: 1px;
    height: 20px;
    background: rgb(var(--text-color) / 20%);
  }

  &:not(.active) {
    cursor: pointer;
  }

  &.active {
    color: #fff;
    transition: color 0.25s ease;
  }

  @media (min-width: 768px) {
    width: 80px;
  }
}

.shadow-btn {
  position: absolute;
  border-radius: 3px;
  background-color: rgb(64 68 74);
  transition: all 0.25s ease;
  height: 100%;
  z-index: -1;
}
