.avatar-content {
  width: 44px;
  cursor: pointer;

  & svg {
    transition: all var(--base-transition);
  }

  &:focus svg {
    scale: 1.2;
    transition: all var(--base-transition);
  }
}

.avatar {
  width: 100%;
  overflow: hidden;
  background-color: var(--content-bg);
  color: var(--accent-color);
  border: 1px solid rgb(var(--content-border-color) / 0.1);
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
  .avatar:hover {
    cursor: pointer;
  }
  
  .avatar-content:hover svg {
    scale: 1.2;
    transition: all var(--base-transition);
  }
}
