.avatar-content {
  width: 44px;
  cursor: pointer;

  & svg {
    transition: all var(--base-transition);
  }

  &:focus svg {
    scale: 1.2;
    transition: all var(--base-transition);
  }
}

.avatar {
  color: var(--accent-color);
}

@media (hover: hover) and (pointer: fine) {
  .avatar:hover {
    cursor: pointer;
  }
  
  .avatar-content:hover svg {
    scale: 1.1;
    transition: all var(--base-transition);
  }
}
