button {
  width: 34px;
  height: 34px;
  background-color: transparent;
  border-radius: 4px;
  position: absolute;
  top: 2px;
  right: 3px;
  border: 0;
  transition: all 0.25s ease;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  right: auto;
  left: 0;
}

button::after {
  background: rgb(var(--text-color));
  content: '';
  position: absolute;
  width: 14px;
  height: 1px;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

button::before {
  background: rgb(var(--text-color));
  content: '';
  position: absolute;
  width: 1px;
  height: 14px;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
