.button {
	border: 0;
	border-radius: 12px;
	transition: all .25s ease;
	position: relative;
	user-select: none;
	z-index: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	background: var(--accent-color);
	color: var(--main-bg);
	padding: 8px 12px;
	cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
	.button:hover {
		box-shadow: 0 10px 20px -10px var(--accent-color);
		transform: translateY(-3px);
	}
}

.button--large {
	font-size: 1rem;
	border-radius: 15px;
	padding: 10px 15px;
}

.button--small {
	font-size: .75rem;
	border-radius: 9px;
	padding: 5px 10px;
}

.button--disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.35;
}

.button--bordered {
	background-color: transparent;
	color: var(--accent-color);
}

.button--bordered::before {
	content: '';
	border: 2px solid var(--accent-color);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: transparent;
	pointer-events: none;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	box-sizing: border-box;
}

@media(hover: hover) and (pointer: fine) {
	.button--bordered:hover {
		box-shadow: none;
		transform: translateY(0);
	}

	.button--bordered:hover::before {
		border: 2px solid rgba(26,92,255,0.5);
	}
}

.button--transparent {
	background: transparent;
	color: var(--accent-color);
	overflow: hidden;
	height: 40px;
	box-shadow: none;
}

.button--transparent::before {
	content: "";
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	pointer-events: none;
	transition: all .25s ease;
	z-index: -1;
	transform: scale(.5);
	opacity: 0;
}

.button--transparent:hover {
	box-shadow: none;
	transform: none;
}

.button--transparent:hover::before {
	opacity: 1;
	transform: scale(1);
	background-color: rgba(26,92,255,.2);
}

.button--loading {
	pointer-events: none;
}

.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255 ,0.5);
	border-radius: inherit;
}

.loading::before {
	content: "";
	width: 17px;
	height: 17px;
	position: absolute;
	border: 2px solid hsla(0,0%,100%,0);
	border-left-color: var(--main-bg);
	border-radius: 50%;
	animation: btnload .6s ease infinite;
}

.loading::after {
	content: '';
	width: 17px;
	height: 17px;
	border: 2px solid rgba(255, 255, 255, 0);
	border-left: dotted rgba(255, 255, 255, .6);
	border-radius: 50%;
	position: absolute;
	animation: btnload .6s linear infinite;
	box-sizing: border-box;
}

@keyframes btnload {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg
	}
}

.button_to-workout {
	position: absolute;
	bottom: 16px;
	right: 16px;
}