.muscles {
	margin-top: 16px;
}

.muscles__item-header {
	height: 42px;
	display: flex;
	align-items: center;
	border-radius: 12px;
	padding: 8px 12px 8px 36px;
	cursor: pointer;
	position: relative;
	transition: all var(--base-transition);
	color: rgba(44,62,80,1);
	background: transparent;
	width: 100%;
	border: 0;

	&:focus {
		box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
		transform: translateY(-3px);
	}
}

@media(hover: hover) and (pointer: fine) {
	.muscles__item-header:hover {
		box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
		transform: translateY(-3px);
	}
}

.muscles__item.active {
	& .muscles__item-header {
		background: rgba(244,247,248,1);
		transform: translateY(-3px);
		box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
	}

	& .collapse__icon {
		transform: rotate(-315deg);
	}

	& .exercises-wr {
		grid-template-rows: 1fr;
	}
}

.muscles__item-img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid rgba(26,92,255, 0.5);
}

.collapse__icon {
	display: inline-block;
	width: 7px;
	height: 7px;
	position: absolute;
	left: 15px;
	top: calc(50% - 4px);
	transform: rotate(-135deg);
	transition: all .25s ease;
	z-index: 10;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.exercises-wr {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: grid-template-rows 0.5s ease;
}
.exercises {
	min-height: 0;
	max-height: 300px;
	overflow: auto;
}

.muscle__item-length {
	display: flex;
	align-items: center;
	gap: 24px;
	color: lightgray;
	margin-left: auto;
}

.exercises__item {
	font-size: 13px;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 12px;
	transition: all var(--base-transition);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		right: 15px;
		top: 15px;
		width: 7px;
		height: 7px;
		border-top: 1px solid lightgray;
		border-right: 1px solid lightgray;
		transform: rotate(45deg);
	}

	&:focus {
		transform: translateY(-3px);
		background: rgba(244,247,248,1);
	}
}

@media(hover: hover) and (pointer: fine) {
	.exercises__item:hover {
		transform: translateY(-3px);
		background: rgba(244,247,248,1);
	}
}