.settings {
	display: grid;
	grid-template-columns: 250px 1fr;
	border-radius: 4px;
	margin-top: 16px;
	gap: 32px;
	height: calc(100vh - 55px);

	@media (width < 768px) {
		margin-top: 0;
		margin-left: -8px;
		gap: 16px;
		grid-template-columns: 60px 1fr;
	}
}

.settings__content-header {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
}

.settings__content-subject {
	margin-bottom: 24px;
}

.settings__aside-list {
	@media (width < 768px) {
		width: 100%;
		padding-top: 16px;
		padding-inline: 8px;
		background-color: var(--content-bg);
		height: 100%;
		border-right: 1px solid rgb(var(--accent-color) / 0.2);
		transition: translate 0.25s ease;
	}
}

.settings__aside-item {
	border: 1px solid transparent;
	border-radius: 4px;
	overflow: hidden;

	&.active {
		border: 1px solid rgb(var(--border-color));
		border-radius: 4px;
		pointer-events: none;
	}
}

.settings__aside-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	background-color: transparent;
	color: rgb(var(--text-color));
	border: none;
	text-align: left;
	cursor: pointer;
	padding: 8px 16px;
	transition: background-color 0.25s ease;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background-color: rgb(var(--accent-color) / 0.3);
		}
	}

	@media (width < 768px) {
		justify-content: center;
		padding: 8px 0;
	}
}

.settings__aside-text {
	@media (width < 768px) {
		display: none;
	}
}

.settings__content {
	@media (width < 768px) {
		padding-top: 16px;
	}
}

.slideUp-enter-active,
.slideUp-leave-active {
	transition: opacity 0.25s ease, transform 0.25s ease;
}

.slideUp-enter-from {
	opacity: 0;
	transform: translateY(20px);
}

.slideUp-leave-to {
	opacity: 0;
	transform: translateY(-20px);
	overflow: hidden;
}

.slideDown-enter-active,
.slideDown-leave-active {
	transition: opacity 0.25s ease, transform 0.25s ease;
}

.slideDown-enter-from {
	opacity: 0;
	transform: translateY(-20px);
}

.slideDown-leave-to {
	opacity: 0;
	transform: translateY(20px);
	overflow: hidden;
}