/*!* color palette from <https://github.com/vuejs/theme> *!*/
:root {
  --accent-color: rgba(26,92,255,1);
  --text-color: rgba(44,62,80,1);
  --main-bg: #fff;

  --base-transition: 0.25s ease;

}

@media (prefers-color-scheme: dark) {
  :root {
    /*--color-background: var(--vt-c-black);*/
    /*--color-background-soft: var(--vt-c-black-soft);*/
    /*--color-background-mute: var(--vt-c-black-mute);*/

    /*--color-border: var(--vt-c-divider-dark-2);*/
    /*--color-border-hover: var(--vt-c-divider-dark-1);*/

    /*--color-heading: var(--vt-c-text-dark-1);*/
    /*--color-text: var(--vt-c-text-dark-2);*/
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: rgba(44,62,80,1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.main__layout {
  display: grid;
  grid-auto-columns: 1fr;
  padding-top: 16px;
  column-gap: 24px;
}

.group {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.group.efforts {
  margin-bottom: 12px;
}

@media (width > 768px) {
  .container {
    padding: 0 32px;
  }

  .main__layout.workout-mode {
    grid-template-columns: 1fr 1fr;
  }

  .main__layout.workout-mode .calendar {
    max-width: 100%;
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}