.body-params__content {
	display: flex;
	flex-direction: column;
}

.body-params {
	display: grid;
	margin-top: 24px;
	gap: 16px;

	@media (min-width: 1024px) {
		border: 1px solid rgba(var(--accent-color) / 10%);
		padding: 16px;
		border-radius: 20px;
		grid-template-columns: 220px 1fr;
	}
}

.body-params__header {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 16px;
}

.body-params__aside {
	display: none;

	@media (min-width: 1024px) {
		display: initial;
	}
}

.body-params__aside-wrap {
	position: relative;
}

.body-params__aside-item {
	outline: 1px solid transparent;
	transition: outline-color 0.25s ease;
	border-radius: 9px;
	display: flex;
	justify-content: space-between;
	padding-right: 12px;

	&:not(.active):hover {
		outline-color: rgba(var(--accent-color) / 50%);
		cursor: grab;
	}

	&.active {
		background-color: rgba(var(--accent-color) / 10%);
		border-radius: 9px;
	}
}

.body-params__aside-button {
	width: 100%;
	text-align: left;
	background: transparent;
	border: none;
	padding: 8px;
	border-radius: 9px;
	color: var(--text-color);
}

.body-params__form {
	display: flex;
	gap: 12px;
	margin-bottom: 12px;
}

.body-params__content-wrap {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 54px 1fr;
	grid-template-areas: 'dropdown chart' 'data chart';
	gap: 0 16px;
	flex-grow: 1;

	& .dropdown {
		grid-area: dropdown;
		margin-bottom: 12px;
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		grid-template-areas: 'dropdown' 'chart' 'data';
		row-gap: 8px;

		& .dropdown {
			width: 100%;
		}
	}
}

.body-params__table-parent {
	border: 1px solid rgba(var(--accent-color) / 10%);
	border-radius: 12px;
	flex-grow: 1;
	overflow: auto;
	max-height: 432px;
}

.body-params__table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 12px;
	font-size: 12px;

	& th {
		font-weight: bold;
		background-color: #e9eeff;
	}

	& td {
		color: rgb(var(--text-color) / 80%);
	}

	& td, & th {
		text-align: center;
		width: 50%;
		padding-block: 8px;
	}

	& tbody tr:nth-child(even) {
		background-color: var(--block-bg);
	}

	& thead {
		position: sticky;
		top: 0;
	}
}

.body-params__data {
	display: flex;
	flex-direction: column;
	grid-area: data;
}

.body-params__container {
	flex-grow: 1;
	grid-area: chart;

	@media (max-width: 768px) {
		order: -1;
	}
}

.body-params__chart {
	height: 100%;
}

.body-params__calendar {
	position: relative;
	width: 100%;

	& .calendar {
		width: 100%;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.body-params__table-value {
	display: flex;
	justify-content: center;
	gap: 4px;

	& .positive {
		color: #50c850;
	}

	& .negative {
		color: red;
	}
}