.body-params__content {
	display: flex;
	flex-direction: column;
}

.body-params {
	display: grid;
	margin-top: 24px;
	grid-template-columns: 220px 1fr;
	gap: 16px;
	border: 1px solid rgba(var(--accent-color) / 10%);
	padding: 16px;
	border-radius: 20px;
}

.body-params__header {
	font-size: 22px;
	font-weight: 500;
}

.body-params__aside-wrap {
	position: relative;
}

.body-params__aside-item {
	outline: 1px solid transparent;
	transition: outline-color 0.25s ease;
	border-radius: 9px;

	&:not(.active):hover {
		outline-color: rgba(var(--accent-color) / 50%);
	}
}

.body-params__block-move {
	--expo-out: linear( 0, 0.1684 2.66%, 0.3165 5.49%, 0.446 8.52%, 0.5581 11.78%, 0.6535 15.29%, 0.7341 19.11%, 0.8011 23.3%, 0.8557 27.93%, 0.8962 32.68%, 0.9283 38.01%, 0.9529 44.08%, 0.9711 51.14%, 0.9833 59.06%, 0.9915 68.74%, 1 );
	transition: top 0.7s var(--expo-out);
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	will-change: top, bottom;
	background-color: rgba(var(--accent-color) / 10%);
	border-radius: 9px;
}

.body-params__aside-button {
	width: 100%;
	text-align: left;
	background: transparent;
	border: none;
	padding: 8px;
	border-radius: 9px;
	color: var(--text-color);
}

.body-params__form {
	display: flex;
	gap: 12px;
	margin-top: 24px;
	margin-bottom: 12px;
}

.body-params__content-wrap {
	display: flex;
	gap: 16px;
	flex-grow: 1;
}

.body-params__table-parent {
	border: 1px solid rgba(var(--accent-color) / 10%);
	margin-top: 12px;
	border-radius: 12px;
	flex-grow: 1;
	overflow: hidden;
}

.body-params__table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 12px;
	font-size: 12px;

	& th {
		font-weight: bold;
		background-color: rgba(var(--accent-color) / 10%);
	}

	& td {
		color: rgb(var(--text-color) / 80%);
	}

	& td, & th {
		text-align: center;
		width: 50%;
		padding-block: 8px;
	}

	& tbody tr:nth-child(even) {
		background-color: var(--block-bg);
	}
}

.body-params__data {
	display: flex;
	flex-direction: column;
}

.body-params__container {
	flex-grow: 1;
}

.body-params__chart {
	height: 100%;
}