body .Toastify__toast {
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: 1px solid rgb(0 0 0 / 10%);
  min-height: auto;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  --toastify-toast-width: 250px;
}

body .Toastify__toast-body {
  padding-block: 0;
}

body .Toastify__close-button {
  display: flex;
  align-items: center;
}

body .Toastify__toast-container {
  --toastify-toast-width: 250px;

  @media (max-width: 480px) {
    width: 250px;
    left: initial;
    top: 12px;
  }
}
