.slide-left-enter-active,
.slide-left-leave-active {
	transition: all 0.25s ease;
}

.slide-left-leave-to,
.slide-left-enter-from {
	opacity: 0;
	transform: translateX(100%);
}

.v-enter-active,
.v-leave-active {
	transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}